target
build
.gradle
.idea
*.iml
/test-output/*
/target/*
/allure-results/*
/Screenshots/*
.classpath
*.project
*.jar
*.prefs
*.DS_Store*
.DS_Store
.project
.allure
allure-results
bin
.vscode
.factorypath
*.log